{% extends "base.html" %}
{% block content %}
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h1>Restoration Run</h1>
        <p class="major">A 5K through historic Palmyra New York, with all proceeds benefiting local charities.</p>
        <p class="major">Saturday September 14<sup>th</sup> 2024 - 8:00 Start Time</p>
        <ul class="actions stacked">
            <li><a href="#register" class="button big wide smooth-scroll-middle">Register</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="images/banner.jpg" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Race Course</h2>
        <p>The 5K is an out-and-back course begining at the parking lot behind the EB Grandin Building.  Runners travel south on William Street, west on Canal Street, north on Maple Avenue, then turn around at the Martin Harris Farm parking lot.</p>
        <ul class="actions stacked">
            <li><a href="race-course" class="button">Learn More</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="images/spotlight01.jpg" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
    <div class="content">
        <h2>What is the Restoration?</h2>
        <p>In the New Testament, we read that Jesus Christ established His Church, “built upon the foundation of the apostles and prophets” (Ephesians 2:20). But after the death of Peter and other Apostles, the original Church, along with God's authority, was lost. In 1820, God and Jesus called a new prophet to reestablish the Church of Jesus Christ in its fulness.</p>
        <ul class="actions stacked">
            <li><a href="/what-is-the-restoration" class="button">Learn More</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="images/spotlight02.jpg" alt="" />
    </div>
</section>
{% endblock %}