{% extends "base.html" %}
{% block title %} - Race Course{% endblock %}
{% block content %}
		<section
			class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
			<div class="content">
				<h1>Race Course</h1>
				<p class="major">The race begins at the parking lot behind the EB Grandin Building.  Runners travel south on William Street, west on Canal Street, north on Maple Avenue, then turn around at the Martin Harris Farm parking lot.</p>
				<ul class="actions stacked">
					<li><a href="/" class="button big wide smooth-scroll-middle">Learn More</a></li>
				</ul>
			</div>
			<div class="image">
				<img src="images/route.png" alt="" />
			</div>
		</section>
{% endblock %}		